:root {
    --primary-color : #FF69B4;
    // #FF1493;
    --content-color : #808080;
}

body {
    margin: 0;
    background: url('../images/background.jpg');
    font-family: 'Consolas';
}

section{
    background: white;
    margin: 2em;
    padding: 1.2em;
    border-radius: .5em;
}

.btn{
    background: var(--primary-color);
    padding: 0.7em 1.8em;
    border-radius: 1em;
    color: white;
    text-align: center;
    display: inline-block;
    
    a {
        color: white;
        text-decoration: none;
    }
}

.mobile-menu{
    cursor: pointer;
}

.major-section{
    background: transparent;
    padding: 0;
    margin: 1.2;
}

.title{
    padding: 0;
    font-size: 1.2em;
    color: var(--content-color);

    .title-highlight{
        color: var(--primary-color);
        font-weight: bolder;
    }

}

.desc{
    text-align: justify;
    color: var(--content-color);
    a{
        text-decoration: none;
        color: #808080;
    }
    
}

.head-icon{
    height: 1.2em;
    fill: #808080;
}

.header-section {
    height: auto;
    .head{
        display: flex;
        text-transform: uppercase;
        letter-spacing: .2em;
        word-spacing: .2em;
        font-size: 1.2em;
        color: var(--content-color);
        
        .head-highlight{
            color: var(--primary-color);
            font-weight: bolder;
            padding: 0em .7em;
        } 
    }
    nav{
        display: none;
    }
}

.container-slide {
    display: none;
}

nav.menu-btn {
    display: block;
}

nav {
    position: fixed;
    z-index: 999;
    width: 70%;
    left: 0;
    top: 0;
    background: #FFC0CB;
    height: 100vh;
    padding: 1em;

    .mobile-menu-exit {
        float: right;
        margin: .5em;
        cursor: pointer;
    }
    ul.primary-nav {
        margin-top: 5em;
        list-style-type: none;
        li {
            a {
                color: var(--content-color);
                text-decoration: none;
                display: block;
                padding: .5em;
                font-size: 1.2em;
                text-align: left; 
                
                &:hover{
                    color: #C71585	;
                    font-weight: bold;

                }
            }
        }
    }

    ul.secondary-nav {
        list-style-type: none;
        margin-top: 1.5em;
        margin-left: .5em;
        li {
            display: inline;
            padding: .5em;
            background-color: #808080;
            border-radius: 50%;

            a {
                color: white;

                &:hover{
                    color: #C71585	;
                }
            }


        }
        
    }


}

.hero-section {
    .container {
        margin: 1.2em;
        padding: .2em; 
    }
    .hero-right{
        display: none;
    }
    .dot {
        height: 15px;
        width: 15px;
        margin-top: .5em;
        border-radius: 50%;
        display: inline-block;
        background-color: #C71585;
    }
}

.main-section{
    margin: 0;
    .container{
        margin: 1.2em;
        padding: .2em;

        p{
            color: var(--content-color);
        }
    }

    .mid-container{
        margin: 0;
        padding: 0;

        .row1 {
            margin: 1.2em;
            padding: .2em;
            
            .opening-container{
                margin: 0;
                padding: 0;

                .content{
                    margin: 0;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    .days{
                        margin: 0;
                        padding: 0;
                        li{
                            display: block;
                            font-weight: bold;
                            color: var(--primary-color);
                        }
                    }
                    .times{
                        margin: 0;
                        padding: 0;
                        li{
                            display: block;
                        }
                    }
                }
            }

            .contact-container{
                margin: 0;
                padding: 0;

                .content{
                    margin: 0;

                    input{
                        font-family: consolas;
                        border: none;
                        font-size: 1em;
                        margin: 1em 0em;
                        display: block;
                    }

                    .contact{
                        margin: 0;
                        padding: 0;
                        img{
                            height: 40px;
                            width: 100px;
                            margin: 0.3em .3em;
                            border: 1px solid;
                        }

                    }
                }
            }
        }

        .row2 {
            margin: 1.2em;
            padding: .2em;
            .testimonial-container {
                margin-right: 1.2em;
                padding: 0;

                .test-head {
                    color: #C0C0C0;
                }
                .test-content {
                    color: var(--content-color);
                    font-style: italic;
                    text-align: justify;
                }
            }

            .event-container {
                margin: 0;
                padding: 0;

                .events-row {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;

                    .event-left{
                        margin: 0; 
                        padding: 0;
                        img{
                            border-radius: 20%;
                            height: 100px;
                            width: 100px;
                        }
                    }                    
                    .event-right{
                        margin: 0; 
                        padding: 0; 
                        margin-left: .7em;
                        
                        p.title{
                            margin: 0;
                            span{
                                margin: .2em 0;
                            }
                        }

                        p.desc{
                            margin: 0;
                            margin: .5em 0;
                        }
                    }
                }
            }
        }
    }
}

.side-section{
    margin: 1.2em 0;
    .container{
        margin: 0;padding: 0;

        .contain-video, .contain-map, .contain-post{
            margin: 1.2em;
            padding: .2em;  

            iframe {
                width: 350px;
                height: 150px;
            }
        }
    }
}

.bottom-section {
    .link-container {
        margin: 1.2em;
        padding: .2em;

        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: inline-grid;
            grid-template-columns: 1fr 1fr;

            li::before{
                content: '•';
               color: var(--primary-color); 
            }
        }

        a{
            text-decoration: none;
        }
    }

    .download-container {
        margin: 1.2em;
        padding: .2em;

        .btn-download {
            border: .5px solid gray;
            padding: 0.7em;
            text-transform: uppercase;
            display: inline-block; 
            box-shadow: 5px 5px #DCDCDC;   
            
            a {
                text-decoration: none;
                color: gray;
            }
        }
    }

    .photo-container {
        margin: 1.2em;
        padding: .2em;

        .container{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        
        i {
            color: #C0C0C0;
            font-size: 3em;
            font-family: "High Tower Text" ;
        }

        img {
            height: 80px;
            width: 80px;
            margin: .5em;
        }
        .photo-gallery{
            display: none;
        }
        button {
            background-color: white;
            border: none;
            &:click{
                color: var(--primary-color);
            }
        }

    }
}

.footer-section{
    text-align: center;
    margin: 0;padding: 0;
    border-radius: 0;
    .container{
        padding: .2em;
        ul{
            li{
                text-align: center;
                display: inline;
                padding-left: 1.8em;
                color: #808080;
            }
        }
    }

    p{
        margin-bottom: 1.2em;
        padding: .2em;
        text-align: center;
        color: var(--content-color);
    }
}

@media only screen and (min-width: 768px) {
    .hero-section{
        .container-slide{
            position: relative;
            display: inline;
            justify-content: space-between;

            .hero-left{
                display: block;
            }
            .hero-right {
                display: inline-flex;

                img{
                    height: 200px;
                    border-radius: 50%;
                    margin: 1.2em;
                }
            }            
        }
    }

    .mid-container{
        .row1{
            display: grid;
            grid-template-columns: 1fr 1fr;

            .contact-container{
                .content{
                    margin: 0;
                    input[type="text"],input[type="tel"],input[type="email"]{
                        margin: .1em;
                        padding: .3em;
                        display: block;
                    }

                    .contact {
                        display: flex;
                    }

                    .submit-btn{
                        display: flex;
                    }
                }               
            }
        }
        .row2{
            display: grid;
            grid-template-columns: 1fr 1fr;

            .testimonial-container{
                margin-right: 1.2em;
            }
            .event-container{
               .events-row{
                    display: flex;
                    justify-content: space-between;
               } 
            }
        }
    }

    .side-section{
        .container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   
            .contain-video, .contain-map, .contain-post{
                margin: 1.2em;
                padding: .2em;  
                iframe {
                    width: 250px;
                    height: 150px;
                    margin-top: auto;
                }
            }

        }
    }


}

@media only screen and (min-width: 1080px) {
    .mobile-menu, .mobile-menu-exit {
        display: none;
    }

    .header-section{
        nav{
            display: flex;
            justify-content: space-between;
            background: none;
            position: unset;
            height: auto;
            width: 100%;
            padding: 0;
            margin: 0;
    
            ul {
                margin: 0;
                padding: 0;
                li{
                    margin: 0;
                    display: inline-block;
                }
            }

            ul.primary-nav{
                li.current a{
                    color: var(--primary-color);
                    font-weight: bold;
                }
            }

            
        }
    }

    .side-section{
        .container{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

            .contain-video, .contain-map{
                margin: 1.2em; 
                
                iframe {
                    width: 250px;
                    height: 150px;
                }
            }

            .fb-post{
                display: contents;
                margin: 1.2em;
                padding: .2em;
            }
            
        }

    }

    .bottom-section{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }

    .footer-section{
        display: flex;
        justify-content: center;
    }
}


@media only screen and (min-width: 1355px) {

    section{
        margin: 2em 8em;
    }

    .major-section{
        background-color: white;
        margin: 1.2em 8em;
        padding: .2em;
        display: flex;
        justify-content: center;
        flex: unset;
        flex-direction: row-reverse;
        justify-content: flex-end;

       .side-section{
            max-width: fit-content;
            margin: 1.2em;
            padding: .2em;
       }

       .main-section{
            max-width: fit-content;
            // float: right;
            margin: 1.2em;
            padding: .2em;
       }
    }

    .bottom-section{
        display: -webkit-box;

        .photo-container{
            display: table-caption;
        }
    }

    .footer-section{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (min-width: 1650px) {

    section{
        margin: 2em 12em;
    }

    .major-section{
        background-color: white;
        margin: 1.2em 12em;
        padding: .2em;
        display: flex;
        justify-content: center;
        flex: unset;
        flex-direction: row-reverse;
        justify-content: flex-end;

       .side-section{
            max-width: fit-content;
            margin: 1.2em;
            padding: .2em;
       }

       .main-section{
            max-width: fit-content;
            // float: right;
            margin: 1.2em;
            padding: .2em;
       }
    }

    .bottom-section{
        display: grid;
    }
}