@charset "UTF-8";
:root {
  --primary-color: #FF69B4;
  --content-color: #808080;
}

body {
  margin: 0;
  background: url("../images/background.jpg");
  font-family: "Consolas";
}

section {
  background: white;
  margin: 2em;
  padding: 1.2em;
  border-radius: 0.5em;
}

.btn {
  background: var(--primary-color);
  padding: 0.7em 1.8em;
  border-radius: 1em;
  color: white;
  text-align: center;
  display: inline-block;
}
.btn a {
  color: white;
  text-decoration: none;
}

.mobile-menu {
  cursor: pointer;
}

.major-section {
  background: transparent;
  padding: 0;
  margin: 1.2;
}

.title {
  padding: 0;
  font-size: 1.2em;
  color: var(--content-color);
}
.title .title-highlight {
  color: var(--primary-color);
  font-weight: bolder;
}

.desc {
  text-align: justify;
  color: var(--content-color);
}
.desc a {
  text-decoration: none;
  color: #808080;
}

.head-icon {
  height: 1.2em;
  fill: #808080;
}

.header-section {
  height: auto;
}
.header-section .head {
  display: flex;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  word-spacing: 0.2em;
  font-size: 1.2em;
  color: var(--content-color);
}
.header-section .head .head-highlight {
  color: var(--primary-color);
  font-weight: bolder;
  padding: 0em 0.7em;
}
.header-section nav {
  display: none;
}

.container-slide {
  display: none;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 70%;
  left: 0;
  top: 0;
  background: #FFC0CB;
  height: 100vh;
  padding: 1em;
}
nav .mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}
nav ul.primary-nav {
  margin-top: 5em;
  list-style-type: none;
}
nav ul.primary-nav li a {
  color: var(--content-color);
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.2em;
  text-align: left;
}
nav ul.primary-nav li a:hover {
  color: #C71585;
  font-weight: bold;
}
nav ul.secondary-nav {
  list-style-type: none;
  margin-top: 1.5em;
  margin-left: 0.5em;
}
nav ul.secondary-nav li {
  display: inline;
  padding: 0.5em;
  background-color: #808080;
  border-radius: 50%;
}
nav ul.secondary-nav li a {
  color: white;
}
nav ul.secondary-nav li a:hover {
  color: #C71585;
}

.hero-section .container {
  margin: 1.2em;
  padding: 0.2em;
}
.hero-section .hero-right {
  display: none;
}
.hero-section .dot {
  height: 15px;
  width: 15px;
  margin-top: 0.5em;
  border-radius: 50%;
  display: inline-block;
  background-color: #C71585;
}

.main-section {
  margin: 0;
}
.main-section .container {
  margin: 1.2em;
  padding: 0.2em;
}
.main-section .container p {
  color: var(--content-color);
}
.main-section .mid-container {
  margin: 0;
  padding: 0;
}
.main-section .mid-container .row1 {
  margin: 1.2em;
  padding: 0.2em;
}
.main-section .mid-container .row1 .opening-container {
  margin: 0;
  padding: 0;
}
.main-section .mid-container .row1 .opening-container .content {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-section .mid-container .row1 .opening-container .content .days {
  margin: 0;
  padding: 0;
}
.main-section .mid-container .row1 .opening-container .content .days li {
  display: block;
  font-weight: bold;
  color: var(--primary-color);
}
.main-section .mid-container .row1 .opening-container .content .times {
  margin: 0;
  padding: 0;
}
.main-section .mid-container .row1 .opening-container .content .times li {
  display: block;
}
.main-section .mid-container .row1 .contact-container {
  margin: 0;
  padding: 0;
}
.main-section .mid-container .row1 .contact-container .content {
  margin: 0;
}
.main-section .mid-container .row1 .contact-container .content input {
  font-family: consolas;
  border: none;
  font-size: 1em;
  margin: 1em 0em;
  display: block;
}
.main-section .mid-container .row1 .contact-container .content .contact {
  margin: 0;
  padding: 0;
}
.main-section .mid-container .row1 .contact-container .content .contact img {
  height: 40px;
  width: 100px;
  margin: 0.3em 0.3em;
  border: 1px solid;
}
.main-section .mid-container .row2 {
  margin: 1.2em;
  padding: 0.2em;
}
.main-section .mid-container .row2 .testimonial-container {
  margin-right: 1.2em;
  padding: 0;
}
.main-section .mid-container .row2 .testimonial-container .test-head {
  color: #C0C0C0;
}
.main-section .mid-container .row2 .testimonial-container .test-content {
  color: var(--content-color);
  font-style: italic;
  text-align: justify;
}
.main-section .mid-container .row2 .event-container {
  margin: 0;
  padding: 0;
}
.main-section .mid-container .row2 .event-container .events-row {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.main-section .mid-container .row2 .event-container .events-row .event-left {
  margin: 0;
  padding: 0;
}
.main-section .mid-container .row2 .event-container .events-row .event-left img {
  border-radius: 20%;
  height: 100px;
  width: 100px;
}
.main-section .mid-container .row2 .event-container .events-row .event-right {
  margin: 0;
  padding: 0;
  margin-left: 0.7em;
}
.main-section .mid-container .row2 .event-container .events-row .event-right p.title {
  margin: 0;
}
.main-section .mid-container .row2 .event-container .events-row .event-right p.title span {
  margin: 0.2em 0;
}
.main-section .mid-container .row2 .event-container .events-row .event-right p.desc {
  margin: 0;
  margin: 0.5em 0;
}

.side-section {
  margin: 1.2em 0;
}
.side-section .container {
  margin: 0;
  padding: 0;
}
.side-section .container .contain-video, .side-section .container .contain-map, .side-section .container .contain-post {
  margin: 1.2em;
  padding: 0.2em;
}
.side-section .container .contain-video iframe, .side-section .container .contain-map iframe, .side-section .container .contain-post iframe {
  width: 350px;
  height: 150px;
}

.bottom-section .link-container {
  margin: 1.2em;
  padding: 0.2em;
}
.bottom-section .link-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
}
.bottom-section .link-container ul li::before {
  content: "•";
  color: var(--primary-color);
}
.bottom-section .link-container a {
  text-decoration: none;
}
.bottom-section .download-container {
  margin: 1.2em;
  padding: 0.2em;
}
.bottom-section .download-container .btn-download {
  border: 0.5px solid gray;
  padding: 0.7em;
  text-transform: uppercase;
  display: inline-block;
  box-shadow: 5px 5px #DCDCDC;
}
.bottom-section .download-container .btn-download a {
  text-decoration: none;
  color: gray;
}
.bottom-section .photo-container {
  margin: 1.2em;
  padding: 0.2em;
}
.bottom-section .photo-container .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.bottom-section .photo-container i {
  color: #C0C0C0;
  font-size: 3em;
  font-family: "High Tower Text";
}
.bottom-section .photo-container img {
  height: 80px;
  width: 80px;
  margin: 0.5em;
}
.bottom-section .photo-container .photo-gallery {
  display: none;
}
.bottom-section .photo-container button {
  background-color: white;
  border: none;
}
.bottom-section .photo-container button:click {
  color: var(--primary-color);
}

.footer-section {
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 0;
}
.footer-section .container {
  padding: 0.2em;
}
.footer-section .container ul li {
  text-align: center;
  display: inline;
  padding-left: 1.8em;
  color: #808080;
}
.footer-section p {
  margin-bottom: 1.2em;
  padding: 0.2em;
  text-align: center;
  color: var(--content-color);
}

@media only screen and (min-width: 768px) {
  .hero-section .container-slide {
    position: relative;
    display: inline;
    justify-content: space-between;
  }
  .hero-section .container-slide .hero-left {
    display: block;
  }
  .hero-section .container-slide .hero-right {
    display: inline-flex;
  }
  .hero-section .container-slide .hero-right img {
    height: 200px;
    border-radius: 50%;
    margin: 1.2em;
  }

  .mid-container .row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .mid-container .row1 .contact-container .content {
    margin: 0;
  }
  .mid-container .row1 .contact-container .content input[type=text], .mid-container .row1 .contact-container .content input[type=tel], .mid-container .row1 .contact-container .content input[type=email] {
    margin: 0.1em;
    padding: 0.3em;
    display: block;
  }
  .mid-container .row1 .contact-container .content .contact {
    display: flex;
  }
  .mid-container .row1 .contact-container .content .submit-btn {
    display: flex;
  }
  .mid-container .row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .mid-container .row2 .testimonial-container {
    margin-right: 1.2em;
  }
  .mid-container .row2 .event-container .events-row {
    display: flex;
    justify-content: space-between;
  }

  .side-section .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .side-section .container .contain-video, .side-section .container .contain-map, .side-section .container .contain-post {
    margin: 1.2em;
    padding: 0.2em;
  }
  .side-section .container .contain-video iframe, .side-section .container .contain-map iframe, .side-section .container .contain-post iframe {
    width: 250px;
    height: 150px;
    margin-top: auto;
  }
}
@media only screen and (min-width: 1080px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }

  .header-section nav {
    display: flex;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .header-section nav ul {
    margin: 0;
    padding: 0;
  }
  .header-section nav ul li {
    margin: 0;
    display: inline-block;
  }
  .header-section nav ul.primary-nav li.current a {
    color: var(--primary-color);
    font-weight: bold;
  }

  .side-section .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
  .side-section .container .contain-video, .side-section .container .contain-map {
    margin: 1.2em;
  }
  .side-section .container .contain-video iframe, .side-section .container .contain-map iframe {
    width: 250px;
    height: 150px;
  }
  .side-section .container .fb-post {
    display: contents;
    margin: 1.2em;
    padding: 0.2em;
  }

  .bottom-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .footer-section {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 1355px) {
  section {
    margin: 2em 8em;
  }

  .major-section {
    background-color: white;
    margin: 1.2em 8em;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    flex: unset;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .major-section .side-section {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 1.2em;
    padding: 0.2em;
  }
  .major-section .main-section {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 1.2em;
    padding: 0.2em;
  }

  .bottom-section {
    display: -webkit-box;
  }
  .bottom-section .photo-container {
    display: table-caption;
  }

  .footer-section {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 1650px) {
  section {
    margin: 2em 12em;
  }

  .major-section {
    background-color: white;
    margin: 1.2em 12em;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    flex: unset;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .major-section .side-section {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 1.2em;
    padding: 0.2em;
  }
  .major-section .main-section {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 1.2em;
    padding: 0.2em;
  }

  .bottom-section {
    display: grid;
  }
}/*# sourceMappingURL=main.css.map */